@font-face {
  font-family: 'Tragic Marker';
  src: url('/fonts/tragicmarker-webfont.woff2') format('woff2'),
    url('/fonts/tragicmarker-webfont.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Ludicrous';
  src: url('/fonts/Ludicrous.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Sprightly Two';
  src: url('/fonts/sprightly-two-webfont.woff2') format('woff2'),
    url('/fonts/sprightly-two-webfont.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'King Basil';
  src: url('/fonts/king-basil-lite-webfont.woff2') format('woff2'),
    url('/fonts/king-basil-lite-webfont.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Scamper Free';
  src: url('/fonts/scamper-free-webfont.woff2') format('woff2'),
    url('/fonts/scamper-free-webfont.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Rough Puff';
  src: url('/fonts/rough-puff-webfont.woff2') format('woff2'),
    url('/fonts/rough-puff-webfont.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}