header {
  h1:before {
    display: block;
    font-family: 'Rough Puff';
    content: 'Style Stage';
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  h2 {
    font-family: 'Scamper Free';
    font-size: 1.125rem;
  }
}

