nav {
  ul {
    list-style-type: none;
    // TODO: Adjust along with SVG
    // padding: 1.5rem 0 0 0; 
    padding: 0 0 0 0.25rem;
    margin: 0;
    display: flex;
    top: 0;
    left: 0;

    li {
      position: relative;
      transform: rotate(-180deg);
      writing-mode: vertical-lr;
      text-orientation: mixed;
      margin: 2rem 1rem 0 0;
      // temp background
      background-color: #eff1a5;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ebe557' fill-opacity='0.48' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
      -webkit-box-shadow: -1px 0 2px olive, -1.5px 0 3px #eff1a5;
	    -moz-box-shadow: -1px 0 2px olive, -1.5px 0 3p x#eff1a5;
	    box-shadow: -1px 0 2px olive, -1.5px 0 3px #eff1a5;

      // TODO: Pick svg icons to place here
      // &::after {
      //   content: ' ';
      //   display: block;
      //   width: 40px;
      //   height: 40px;
      //   position: absolute;
      //   border: 1px solid red;
      //   bottom: -35px;
      //   left: 0;
      // }

      a {
        display: inline-block;
        font-family: 'Scamper Free';
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem 1.5rem 0;
        color: navy;
      }
    }
  }
}