@import "fonts";

// You can modify the theme directly, or override some of the variables
// Overrides just need placed prior to the theme import
// For example:
// $color-primary: #3a0;

// temp layout helper -- start
svg {
  height: 1rem;
  width: 1rem;
}

// temp layout helper -- end

@import "theme";
@import "reset";
@import "logomark";
@import "typography";
@import "layout";
@import "header";
@import "nav";
@import "about";
@import "guidelines";
@import "contribute";
@import "files";
@import "styles";
@import "profile";
@import "footer";
@import "links";

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
